$primary-red-dark: #A30021;
$primary-red-medium: #FF1947;
$primary-red-light: #F00030;
$primary-green-dark: #00A31C;
$primary-green-medium: #00F029;

$complementaria-red: #F01843;
$complementaria-yellow: #F0B918;
$complementaria-red-medium: #F00030;
$complementaria-green: #18F03D;
$complementaria-blue: #0C38F0;
